name: Run update.sh on main

on:
  push:
    branches:
      - main  

jobs:
  run-update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Make script executable
        run: chmod +x scripts/update-main.sh

      - name: Run update script
        run: ./scripts/update-main.sh
